.baixe-agora {
  .content-block;
  background-color: @blueDarker;
  padding-top: (@padding-large-vertical*6);

  .mascot {
    .make-xs-column(6);
    text-align: right;
  }

  .links {
    .make-xs-column(6);

    img {
      padding-bottom: 8px;
    }
  }

}
